<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<link rel="stylesheet" href="/static/css/tabla.css" th:href="@{/css/tabla.css}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/perfil.css" th:href="@{/css/perfil.css}">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

	<div> Añadir Competicion</div>
	<form class="form-group" action="#" th:action="@{/competicion/addCompeticion}" th:object="${competicion}" method="post">
		<!--  <p>Imagen: <input class="form-control" type="text" th:field="*{imagen}" /> </p>-->
		<p>Nombre: <input class="form-control" type="text" th:field="*{nombre}" /> </p>
		<h4 class="errores" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre competicion error</h4>
		<p> Fecha: <input class="form-control" type="date" th:field="*{fecha}" /></p>
		<h4 class="errores" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Fecha error</h4>
		<p> Lugar: <input class="form-control" type="text" th:field="*{lugar}" /></p>
		<h4 class="errores" th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}">Nombre lugar error</h4>
		<p> <input class="form-control" type="submit" value="submit"> </p>
	</form>
</body>
</html>