<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<link rel="stylesheet" href="/static/css/tabla.css" th:href="@{/css/tabla.css}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

	<div> Editar Pokémon</div>
	<form class="form-group" action="#" th:action="@{/pokemon/addPokemon}" th:object="${pokemon}" method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}"/>
		<p>Imagen: <input class="form-control" type="file" th:field="*{foto}" th:value="${foto}"/> </p> 
		<p>Nombre: <input class="form-control" type="text" th:field="*{nombre}" th:value="${nombre}"/> </p>
		<p> Ataque: <input class="form-control" type="text" th:field="*{ataque}" th:value="${ataque}" /></p>
		<p> Defensa: <input class="form-control" type="text" th:field="*{defensa}" th:value="${defensa}"/></p>
		<!--  <p>Tipo:</p>
		<select class="datos" name="id">
			<option th:each="tipo : ${tipos}" th:value="${tipo.nombre}" th:text="${tipo.nombre}"></option>
		</select> -->
		<p> <input class="form-control" type="submit" value="submit"> </p>
	</form>
</body>
</html>