<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/perfil.css" th:href="@{/css/perfil.css}">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ENTRENADOR') or hasRole('ROLE_INVITADO')"  th:href="@{/perfil}" class="w3-bar-item w3-button w3-padding-large">PERFIL</a>
    <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EQUIPO')"  th:href="@{/vercompeticion}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMPETICIONES</a>
    <a th:href="@{equipo/listEquipos}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EQUIPOS</a>
    <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ENTRENADOR') or hasRole('ROLE_INVITADO')"  th:href="@{/pokedex}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">POKEDEX</a>
    <form th:action="@{/login?logout}">
    	<a class="w3-padding-large w3-hide-small w3-right"><button>DESCONECTAR</button></a>
    </form>
    
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EQUIPO')" th:href="@{/vercompeticion}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">COMPETICIONES</a>
  <a th:href="@{/equipo/listEquipos}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EQUIPOS</a>
  <a sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ENTRENADOR') or hasRole('ROLE_INVITADO')" th:href="@{/pokedex}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">POKEDEX</a>
  <form th:action="@{/login?logout}">
    	<a class="w3-bar-item w3-button w3-padding-large"><button>DESCONECTAR</button></a>
    </form>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/static/images/batalla1.jpg" th:src="@{/images/batalla1.jpg}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>"La gran pesca"</h3>
      <p><b>La gran hazaña del legendario pescador que consiguió a dos formidables reyes acuáticos.</b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/static/images/batalla2.jpg" th:src="@{/images/batalla2.jpg}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>"El destino"</h3>
      <p><b>"¿Sabéis quién soy? Soy Ash Ketchum de Pueblo Paleta", una frase para el recuerdo.</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/static/images/batalla3.jpg" th:src="@{/images/batalla3.jpg}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>"Carrera bajo el sol"</h3>
      <p><b>Una carrera en la que se disputa el puesto al mejor entrenador tipo fuego.</b></p>    
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">CAMPEONATO MUNDIAL POKÉMON</h2>
    <p class="w3-opacity"><i>Gotta catch 'em all</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Ash Ketchum</p>
        <img src="/static/images/ash.jpg" th:src="@{/images/ash.jpg}" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Red</p>
        <img src="/static/images/red.jpg" th:src="@{/images/red.jpg}" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Blue</p>
        <img src="/static/images/blue.jpg" th:src="@{/images/blue.jpg}" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Web creada por Ernesto Calvache Rodríguez</p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
